* {
    font-size: 20px;
}

.grubs, .grubs * {
    font-size: 128px;
    text-shadow: #000 0 0 4;
}

.charms, .charms * {
    font-size: 48px;
}

span {
    color: white;
    text-shadow: #000 4px 4px 0;
}

tr * {
    border-bottom: 2px solid white;
}

td, th {
    text-align: center;
    color: white;
}

th {
    font-weight: bold;
}

#hit-counter th {
    padding: 1rem;
}

.current-split * {
    color: green;
}

.current-split {
    background-color: lightgreen;
}

.good-split, .good-split * {
    color: lime !important;
}

.bad-split, .bad-split * {
    color: red !important;
}

.total * {
    font-weight: bold;
    color: lime;
}

.dark {
    background-color: black;
}

.no-modify {
    border: none;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.valgin-center {
    justify-content: center;
    align-items: center;
}

.col-10 {
    width: 83.3%;
}

.col-8 {
    width: 66.6%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.4%;
}

.col-2 {
    width: 16.7%;
}

.col-12 {
    width: 100%;
}

.grid-2-6 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-5 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
    width: 250px;
    height: 200px;
    opacity: 0.5;
}

    .box img {
        max-width: 250px;
        max-height: 200px;
    }

    .box.active {
        opacity: 1;
    }

.img {
    opacity: 0.5;
}

    .img.active {
        opacity: 1;
    }


.w-100 {
    width: 100%;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-4, .text-4 * {
    font-size: 64px;
}
